# Advent of Code 2020

https://adventofcode.com/2020

## Goals for the Python solutions

* Use as few `for` loops as possible.
* Very mild [code golfing](https://en.wikipedia.org/wiki/Code_golf).
* Don't anger `flake8` too much.

### Stats

Day | LOC | `flake8` | `for` | `while`
--- | --- | --- | --- | ---
sed-day-stats
